@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 5rem;
  background: -webkit-linear-gradient(top left, rgb(252, 0, 168), rgb(0, 255, 128));
  background: -moz-linear-gradient(top left, rgb(252, 0, 168), rgb(0, 255, 128));
  background: linear-gradient(to bottom right, rgb(252, 0, 168), rgb(0, 255, 128));
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 2rem auto;
  margin-bottom: 4rem;
}

/* ****************** CIRCLES ****************** */


.circle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: black;
  box-shadow: 0 0 10px #333;
}

.circle:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='100' height='120' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>🥊</text></svg>") 16 0,auto;
}

.cirlce:active { 
  box-shadow: inset 0 0 40px gray;
}

.score {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.circle p {
  font-size: 2rem;
}

.active {
  box-shadow: 0 0 5px snow;
  border: 2px solid whitesmoke;
  background-image: url(./img/6945033_preview.png);
  background-size: cover;
  box-shadow: inset 0 0 40px gray;
}

button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 3rem;
  font-family: 'Press Start 2P', cursive;
  box-shadow:  2px 2px 0 3px  rgb(58, 53, 53);
}

button:hover {
  transform: translate(5px, 5px);
  filter:brightness(80%);
}

/* ****************** POPUP ****************** */

.popup-wrapper {
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 150vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.popup {
  position: relative;
  bottom: 15%;
  left: 0;
  height: 30%;
  width: 40%;
  background-color: white;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 5px #333;
  margin: 0 auto;
  color: black;
}

.popup h2 {
  margin-top: 3rem;
}

.popup p {
  margin: 1rem;
  padding-top: 4rem;
  color: black;
}

.popup button {
  margin-left: 27rem;
  margin-top: -2rem;
  background-color: darkgray;
}