@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 5rem;
  background-image: rgba(248, 212, 83, 1.0);
  background: -webkit-linear-gradient(top left, rgba(248, 212, 83, 1.0), rgba(255, 93, 91, 1.0));
  background: -moz-linear-gradient(top left, rgba(248, 212, 83, 1.0), rgba(255, 93, 91, 1.0));
  background: linear-gradient(to bottom right, rgba(248, 212, 83, 1.0), rgba(255, 93, 91, 1.0)); ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Press Start 2P', cursive;;
  padding: 0.8rem 2rem;
  border: none;
  background-color: whitesmoke;
  margin: 1rem;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  margin: 2rem auto;
}

.circle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  background-color: gray;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: white;
}

.green {
  background-color: aqua;
}

.blue {
  background-color: dodgerblue;
}

.red {
  background-color: coral;
}

.yellow {
  background-color: yellowgreen;
}

.circle p {
  font-size: 2rem;
}

.active {
  box-shadow: 0 0 5px snow;
  border: 25px solid yellow;
}
